<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap JS -->
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script
      type="text/javascript"
      src="/static/js/jquery-3.6.0.min.js"
    ></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap" rel="stylesheet">

    <style>
      * {
        font-family: 'Nanum Gothic', sans-serif;
        
      }
      #empty-star {
        font-size: 1em; /* 이모지 크기 */
        color: transparent; /* 기존 이모지 컬러 제거 */
        text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
        margin: -6px;
        display: inline-block;
      }
      #full-star {
        color: transparent; /* 기존 이모지 컬러 제거 */
        text-shadow: 0 0 0 #ffea2a;
      }
    </style>
    <title>Elice Project</title>
  </head>

  <body>
    <main>
      <div class="container-fluid py-4">
        <nav class="navbar navbar-light border-bottom mb-4">
          <div class="container-fluid">
            <a
              href="/"
              class="d-flex align-items-center text-dark text-decoration-none"
            >
              <img
                src="/static/img/book_logo.png"
                height="30"
                class="d-inline-block align-text-top"
              />
              <span style="height:34px; line-height:30px" class="ps-2 fs-4">Elice Library</span>
            </a>
            <form class="d-flex align-items-end" style="margin-top: 5px;">
              {% if g.email %}
              <a href="{{ url_for('rent.list')}}">
                <button type="button" class="btn btn-outline-primary mx-1">
                  대여기록
                </button>
              </a>
              <a href="{{ url_for('rent.ret',id=-1)}}">
                <button type="button" class="btn btn-outline-primary mx-1">
                  반납하기
                </button>
              </a>
              <a href="{{ url_for('auth.signout') }}">
                <button type="button" class="btn btn-outline-primary mx-1">
                  로그아웃
                </button>
              </a>
              {% else %}
              <a href="{{ url_for('auth.signin') }}">
                <button type="button" class="btn btn-outline-primary mx-1">
                  로그인
                </button>
              </a>
              <a href="{{ url_for('auth.signup') }}">
                <button type="button" class="btn btn-outline-primary ms-auto">
                  회원가입
                </button>
              </a>
              {% endif %}
            </form>
          </div>
        </nav>

        <div class="p-10 mb-3 bg-light rounded-3 text-center">
          <div class="container-fluid py-5">
            <h1 class="display-4 fw-bold">엘리스 도서관</h1>
            <span class="lead col-md-7 fs-5"
              >엘리스 도서관에 오신 것을 환영합니다!</span
            >
          </div>
        </div>

        <div class="container-fluid">
          <!-- 검색 -->
          <div class="d-flex flex-row">
            <select
              id="searchType"
              class="form-select me-3"
              style="max-width: 15%; height: 100%"
            >
              <option value="title">제목</option>
              <option value="author">저자</option>
              <option value="publisher">출판사</option>
            </select>
            <input
              type="text"
              class="form-control mb-3"
              id="searchBox"
              placeholder="검색"
            />
          </div>

          <div class="container-fluid py-2">
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %} {% for category, message in messages %}
            <div class="alert alert-{{category}} text-center " role="alert">
              {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}
          </div>

          <div id="search-result">
            <div class="container-fluid text-center my-3">
              <div
                id="resultBody"
                class="row my-auto mx-auto"
                style="height: auto"
              >
                {% for book in books.items %}
                {% if g.email %}
                <div
                  class="
                    col-sm-3
                    bg-light
                    rounded-3
                    ms-auto
                    mb-2
                    p-2
                    align-self-center
                  "
                  style="height: 410px"
                >
                {% else %}
                <div
                  class="
                    col-sm-3
                    bg-light
                    rounded-3
                    ms-auto
                    mb-2
                    p-2
                    align-self-center
                  "
                  style="height: 370px"
                >
                {% endif %}
                  <a
                    class="btn btn-default"
                    href="{{ url_for('book.list', id=book.id) }}"
                    >
                    <div style="height: 200px" class="mb-2">
                      <img
                        src="../../static/{{book.img}}"
                        height="200px"
                        class="d-inline-block align-text-top"
                      />
                    </div>
                    <div style="height: 50px">{{book.title}}</div> </a
                  ><br />
                  {{book.author}}<br />
                  <span id="full-star">{{'⭐'*book.star}}</span>
                  <span id="empty-star">{{'⭐'*(5-book.star)}}</span><br />
                  {{book.stock}}권<br />
                  {% if g.email %}
                  <a href="{{ url_for('rent.rent', id=book.id) }}">
                    <button
                      type="button"
                      class="btn btn-outline-primary my-2 bg-primary text-white"
                    >
                      대여하기
                    </button>
                  </a>
                  {% endif %}
                </div>
                {%endfor%}
              </div>
            </div>
            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center">
              <!-- 이전페이지 -->
              {% if books.has_prev %}
              <li class="page-item">
                <a class="page-link" href="?page={{ books.prev_num }}"><</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"
                  ><</a
                >
              </li>
              {% endif %} {% for page_num in books.iter_pages() %} {% if
              page_num %} {% if page_num != books.page %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_num }}"
                  >{{ page_num }}</a
                >
              </li>
              {% else %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{ page_num }}</a>
              </li>
              {% endif %} {% else %}
              <li class="disabled">
                <a class="page-link" href="#">...</a>
              </li>
              {% endif %} {% endfor %}
              <!-- 다음페이지 -->
              {% if books.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ books.next_num }}">></a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"
                  >></a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <script>
        var searchBox = document.getElementById("searchBox");
        var searchResult = document.getElementById("search-result");
        var searchType = document.getElementById("searchType");
        var searchQuery = null;

        searchBox.onkeydown = function (e) {
          if (e.keyCode != 13) return;
          searchQuery = searchBox.value;
          console.log(searchQuery);
          if (searchQuery != "")
            searchBook();
          else{
            window.location.href = '/';
          }
        };

        function searchBook() {
          $.ajax({
            type: "GET",
            url: "/search/books?q=" + searchQuery + "&type=" + searchType.value, 
            dataType: "json",
            success: function (res) {
              console.log(res);
              searchResult.innerHTML = "";
              searchResult.innerHTML += res;
            },
            error: function (request, status, error) {
              res = JSON.parse(request.responseText);
              alert(res.message);
            },
          });
        }
      </script>
    </main>
  </body>
</html>
