<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/footer.css" rel="stylesheet" />
    <link href="/static/css/star.css" rel="stylesheet" />
    <link href="/static/img/favicon/favicon-16x16.png" rel="shortcut icon" />

    <!-- Bootstrap JS -->
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script
      type="text/javascript"
      src="/static/js/jquery-3.6.0.min.js"
    ></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        font-family: "Nanum Gothic", sans-serif;
      }
    </style>
    <title>Elice Project</title>
  </head>

  <body>
    <main>
      <div class="container-fluid py-4">
        <nav class="navbar navbar-light border-bottom mb-4">
          <div class="container-fluid">
            <a
              href="/"
              class="d-flex align-items-center text-dark text-decoration-none"
            >
              <img
                src="/static/img/book_logo.png"
                height="30"
                class="d-inline-block align-text-top"
              />
              <span style="height: 34px; line-height: 30px" class="ps-2 fs-4"
                >Elice Library</span
              >
            </a>

            <!-- 검색 -->
            <div
              class="d-flex align-items-end"
              style="
                width: 36%;
                height: 100%;
                margin-top: 5px;
                margin-bottom: 5px;
              "
            >
              <select name="libraries" id="selectBox" class="form-select me-1">
                {%for library in libraries %}
                <option value="{{library['homepageUrl']}}">
                  {{library['lbrryNm']}}
                </option>
                {%endfor%}
              </select>
              <button
                type="button"
                class="btn btn-outline-secondary mx-1"
                style="width: 70px"
                onclick="onClickSelectBox()"
              >
                이동
              </button>
            </div>

            <form
              class="d-flex align-items-end"
              style="margin-top: 5px; margin-bottom: 5px"
            >
              {% if g.email and g.admin == 0 %}
              <a href="{{ url_for('auth.mypage') }}">
                <button type="button" class="btn btn-outline-primary mx-1">
                  마이페이지
                </button>
              </a>
              <a href="{{ url_for('auth.signout') }}">
                <button type="button" class="btn btn-outline-primary mx-1">
                  로그아웃
                </button>
              </a>
              {% elif g.email and g.admin == 1 %}
              <a href="{{ url_for('auth.adminpage') }}">
                <button type="button" class="btn btn-outline-primary mx-1">
                  관리자 페이지
                </button>
              </a>
              <a href="{{ url_for('auth.signout') }}">
                <button type="button" class="btn btn-outline-primary mx-1">
                  로그아웃
                </button>
              </a>
              {% else %}
              <a href="{{ url_for('auth.signin') }}">
                <button type="button" class="btn btn-outline-primary mx-1">
                  로그인
                </button>
              </a>
              <a href="{{ url_for('auth.signup') }}">
                <button type="button" class="btn btn-outline-primary ms-auto">
                  회원가입
                </button>
              </a>
              {% endif %}
            </form>
          </div>
        </nav>

        <div class="p-10 mb-3 bg-light rounded-3 text-center">
          <div class="container-fluid py-5">
            <h1 class="display-4 fw-bold">엘리스 도서관</h1>
            <span class="lead col-md-7 fs-5"
              >엘리스 도서관에 오신 것을 환영합니다!</span
            >
          </div>
        </div>

        <div class="container-fluid">
          <!-- 검색 -->
          <div class="d-flex flex-row">
            <select
              id="searchType"
              class="form-select me-3"
              style="max-width: 15%; height: 100%"
            >
              <option value="title">제목</option>
              <option value="author">저자</option>
              <option value="publisher">출판사</option>
            </select>
            <input
              type="text"
              class="form-control mb-3"
              id="searchBox"
              placeholder="검색"
            />
          </div>

          <div class="container-fluid py-2">
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %} {% for category, message in messages %}
            <div class="alert alert-{{category}} text-center " role="alert">
              {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}
          </div>

          <div id="search-result">{%block index_list%}{%endblock%}</div>
        </div>

        <!-- Site footer -->
        <footer class="site-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">
                  elice 1차 개인 프로젝트 장서우 도서관 만들기입니다.
                </p>
              </div>

              <div class="col-xs-6 col-md-3">
                <h6></h6>
                <ul class="footer-links">
                  <li></li>
                </ul>
              </div>

              <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                  <li><a href="https://elice.io/home">About Elice</a></li>
                  <li>
                    <a href="https://github.com/serajang99">Contact Me</a>
                  </li>
                  <li>
                    <a
                      href="https://kdt-gitlab.elice.io/003-part2-project-library/team1/3-library-sw"
                      >About Project</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <hr />
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text"></p>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                  <li><a class="facebook" href="#">맨위로</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <script>
        var searchBox = document.getElementById("searchBox");
        var searchResult = document.getElementById("search-result");
        var searchType = document.getElementById("searchType");
        var searchQuery = null;

        searchBox.onkeydown = function (e) {
          if (e.keyCode != 13) return;
          searchQuery = searchBox.value;
          console.log(searchQuery);
          if (searchQuery != "") searchBook(1);
          else {
            window.location.href = "/";
          }
        };

        function searchBook(page) {
          $.ajax({
            type: "GET",
            url:
              "/search/books?q=" +
              searchQuery +
              "&type=" +
              searchType.value +
              "&page=" +
              page,
            dataType: "json",
            success: function (res) {
              console.log(res);
              searchResult.innerHTML = "";
              searchResult.innerHTML += res;
            },
            error: function (request, status, error) {
              res = JSON.parse(request.responseText);
              alert(res.message);
            },
          });
        }

        var selectBox = document.getElementById("selectBox");
        function onClickSelectBox() {
          window.location.href = selectBox.value;
        }
      </script>
    </main>
  </body>
</html>
