{% extends 'manage.html' %} {% block user %}
<div style="margin-bottom: 10px">관리자 등록</div>
<div class="p-2 bg-light rounded-3">
  <form method="POST" width="100%">
    <div class="mb-3 row justify-content-center">
      <label for="inputUsername" class="col-sm-2 col-form-label">이름</label>
      <div class="col-sm-3">
        <input type="username" class="form-control" name="username" required />
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <label for="inputEmail" class="col-sm-2 col-form-label">아이디</label>
      <div class="col-sm-3">
        <input type="email" class="form-control" name="email" required />
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <label for="inputPassword" class="col-sm-2 col-form-label"
        >비밀번호</label
      >
      <div class="col-sm-3">
        <input type="password" class="form-control" name="password" required />
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <label for="inputPassword2" class="col-sm-2 col-form-label"
        >비밀번호 확인</label
      >
      <div class="col-sm-3">
        <input type="password" class="form-control" name="password2" required />
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-lg">등록</button>
      </div>
    </div>
  </form>
</div>

<div class="container-fluid py-1" style="margin-top: 50px">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %} {% if message != None %}
  <div class="alert alert-{{category}} text-center " role="alert">
    {{ message }}
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}
</div>

<div style="margin-bottom: 10px">관리자</div>

<div class="p-2 bg-light rounded-3 d-flex">
  <table style="height: 80px" class="table table-light ml-3">
    <thead>
      <tr>
        <th scope="col">이름</th>
        <th scope="col">email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for admin in admins %}
      <tr class="align-middle">
        <td width="100" class="h6 fw-bold">{{admin.username}}</td>
        <td width="150" class="h6">{{admin.email}}</td>
        <td></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

<div style="margin-bottom: 10px">사용자</div>

<div class="p-2 bg-light rounded-3 d-flex">
  <table style="height: 80px" class="table table-light ml-3">
    <thead>
      <tr>
        <th scope="col">이름</th>
        <th scope="col">email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr class="align-middle">
        <td width="100" class="h6 fw-bold">{{user.username}}</td>
        <td width="150" class="h6">{{user.email}}</td>
        <td></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}
