<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/mypage.css" rel="stylesheet" />
    <link href="/static/css/star.css" rel="stylesheet" />
    <link href="/static/img/favicon/favicon-16x16.png" rel="shortcut icon" />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        font-family: "Nanum Gothic", sans-serif;
      }
    </style>
    <title>Elice Project</title>
  </head>

  <body>
    <main>
      <div class="container-fluid py-4">
        <nav class="navbar navbar-light border-bottom mb-4">
          <div class="container-fluid">
            <a
              href="/"
              class="d-flex align-items-center text-dark text-decoration-none"
            >
              <img
                src="/static/img/book_logo.png"
                height="30"
                class="d-inline-block align-text-top"
              />
              <span style="height: 34px; line-height: 30px" class="ps-2 fs-4"
                >Elice Library</span
              >
            </a>
            <form class="d-flex">
              <a href="{{ url_for('index') }}">
                <button type="button" class="btn btn-outline-primary mx-1">
                  홈
                </button>
              </a>
              <a href="{{ url_for('auth.signout') }}">
                <button type="button" class="btn btn-outline-primary mx-1">
                  로그아웃
                </button>
              </a>
            </form>
          </div>
        </nav>

        <div class="p-5 mb-5 bg-light rounded-3">
          <div class="container">
            <!--     SIDE AREA -->
            <div class="sideArea">
              <div class="avatar">
                <div class="avatarName">Welcome,<br />{{user.username}}</div>
              </div>
              <ul class="sideMenu">
                <li><a href="{{ url_for('rent.list')}}"> 대여기록 </a></li>
                <li>
                  <a href="{{ url_for('rent.ret',id=-1)}}"> 반납하기 </a>
                </li>
                <li>
                  <a href="{{ url_for('book.new')}}"> 책 신청하기 </a>
                </li>
              </ul>
            </div>
            <!--    MAIN AREA -->
            <div class="mainArea" style="overflow: auto">
              <!-- CONTAINER  -->
              <div class="mainContent">
                <div class="container-fluid py-1" style="margin-top: 20px">
                  {% with messages = get_flashed_messages(with_categories=true)
                  %} {% if messages %} {% for category, message in messages %}
                  {% if message != None %}
                  <div
                    class="alert alert-{{category}} text-center "
                    role="alert"
                    style="width: 80%"
                  >
                    {{ message }}
                  </div>
                  {% endif %} {% endfor %} {% endif %} {% endwith %}
                </div>

                <div class="py-2 my-2" style="margin-bottom: 10px">
                  <div style="margin-bottom: 10px">내가 쓴 리뷰</div>
                  {%for bookreview, book in reviews%}
                  <div
                    class="p-2 bg-light rounded-3"
                    style="margin-bottom: 10px; width: 80%"
                  >
                    <div class="book-info">
                      {{book.title}} | {{book.author}} | {{book.publisher}}
                    </div>
                    <div class="book-star">
                      <span id="full-star">{{'⭐'*bookreview.star}}</span>
                      <span id="empty-star">{{'⭐'*(5-bookreview.star)}}</span
                      ><br />
                    </div>
                    <div class="book-review">{{bookreview.comment}}</div>
                  </div>
                  {%endfor%}
                </div>

                <div class="py-2 my-2" style="margin-bottom: 10px">
                  <div style="margin-bottom: 10px">내가 신청한 책</div>
                  {%for newbook in newbooks%}
                  <div
                    class="p-2 bg-light rounded-3"
                    style="margin-bottom: 10px; width: 80%"
                  >
                    <div class="book-info">
                      책 제목: {{newbook.title}} <br />
                      저자: {{newbook.author}} <br />
                      출판사: {{newbook.publisher}}
                    </div>
                  </div>
                  {%endfor%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
