{% extends 'rent.html' %} {% block rent_list %} {% for book, rent_info in books
%}
<div class="p-2 bg-light rounded-3 d-flex">
  <img src="../../static/{{book.img}}" width="100px" class="mx-3 my-2" />
  <table
    style="height: 100px; line-height: 50px"
    class="table table-light ml-3"
  >
    <thead>
      <tr>
        <th scope="col">책 제목</th>
        <th scope="col">저자</th>
        <th scope="col">대여일자</th>
        <th scope="col">반납일자</th>
        <th scope="col">상태</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle">
        <td class="h6 fw-bold">{{book.title}}</td>
        <td width="150" class="h6">{{book.author}}</td>
        <td width="200" class="h6">
          {{rent_info.rental_date.strftime("%Y/%m/%d")}}~
        </td>
        {% if rent_info.is_returned == 0 %}
        <td width="200" class="h6"></td>
        <td width="100">대여 중</td>
        {% else %}
        <td width="200" class="h6">
          {{rent_info.return_date.strftime("%Y/%m/%d")}}
        </td>
        <td width="100">반납 완료</td>
        {%endif%}
      </tr>
    </tbody>
  </table>
</div>
{%endfor%} {% endblock %}
