<div class="container-fluid text-center my-3">
  <div id="resultBody" class="row my-auto mx-auto" style="height: auto">
    {% for book in books %} {% if g.email %}
    <div
      class="col-sm-3 bg-light rounded-3 ms-auto mb-2 p-2 align-self-center"
      style="height: 410px"
    >
      {% else %}
      <div
        class="col-sm-3 bg-light rounded-3 ms-auto mb-2 p-2 align-self-center"
        style="height: 370px"
      >
        {% endif %}
        <a
          class="btn btn-default"
          href="{{ url_for('book.list', id=book.id) }}"
        >
          <div style="height: 200px" class="mb-2">
            <img
              src="../../static/{{book.img}}"
              height="200px"
              class="d-inline-block align-text-top"
            />
          </div>
          <div style="height: 50px" class="align-middle">
            {{book.title}}
          </div> </a
        ><br />
        {{book.author}}<br />
        <span id="full-star">{{'⭐'*book.star}}</span>
        <span id="empty-star">{{'⭐'*(5-book.star)}}</span><br />
        {{book.stock}}권<br />
        {% if g.email %}
        <a href="{{ url_for('rent.rent', id=book.id) }}">
          <button
            type="button"
            class="btn btn-outline-primary my-2 bg-primary text-white"
          >
            대여하기
          </button>
        </a>
        {% endif %}
      </div>
      {%endfor%}
    </div>
  </div>
</div>
