{%block search_list%}
<div class="container-fluid text-center my-3">
  <div id="resultBody" class="row my-auto mx-auto">
    {% for book in books.items %} {% if g.email and g.admin == 0 %}
    <div class="col-sm-3 bg-light rounded-3 mb-2 p-2" style="height: 430px">
      {% else %}
      <div class="col-sm-3 bg-light rounded-3 mb-2 p-2" style="height: 370px">
        {% endif %}
        <div class="mb-1">
          <a
            class="btn btn-default"
            href="{{ url_for('book.list', id=book.id) }}"
          >
            <div style="margin-bottom: 10px">
              <img
                src="../../static/{{book.img}}"
                height="170px"
                class="d-inline-block align-text-top"
              />
            </div>
            <div style="height: 72px">{{book.title}}</div>
          </a>
        </div>
        <div class="mb-1">{{book.author}}</div>
        <div class="mb-1">
          <span id="full-star">{{'⭐'*book.star}}</span>
          <span id="empty-star">{{'⭐'*(5-book.star)}}</span>
        </div>
        <div class="mb-1">
          {% if book.stock == 0 %} 대출불가[재고없음] {% else %} 대출가능 {%
          endif %}<br />
        </div>
        {% if g.email and g.admin == 0%}
        <a href="{{ url_for('rent.rent', id=book.id) }}">
          <button
            type="button"
            class="btn btn-outline-primary my-2 bg-primary text-white"
          >
            대여하기
          </button>
        </a>
        {% endif %}
      </div>
      {%endfor%}
    </div>
  </div>

  <!-- 페이징처리 시작 -->
  <ul class="pagination justify-content-center m-3">
    <!-- 이전페이지 -->
    {% if books.has_prev %}
    <li class="page-item">
      <button class="page-link" onclick="searchBook({{books.prev_num}})">
        <
      </button>
    </li>
    {% else %}
    <li class="page-item disabled">
      <button class="page-link" tabindex="-1" aria-disabled="true" href="#">
        <
      </button>
    </li>
    {% endif %} {% for page_num in books.iter_pages() %} {% if page_num %} {% if
    page_num != books.page %}
    <li class="page-item">
      <button class="page-link" onclick="searchBook({{page_num}})">
        {{ page_num }}
      </button>
    </li>
    {% else %}
    <li class="page-item active" aria-current="page">
      <button class="page-link" href="#">{{ page_num }}</button>
    </li>
    {% endif %} {% else %}
    <li class="disabled">
      <button class="page-link" href="#">...</button>
    </li>
    {% endif %} {% endfor %}
    <!-- 다음페이지 -->
    {% if books.has_next %}
    <li class="page-item">
      <button class="page-link" onclick="searchBook({{books.next_num}})">
        >
      </button>
    </li>
    {% else %}
    <li class="page-item disabled">
      <button class="page-link" tabindex="-1" aria-disabled="true" href="#">
        >
      </button>
    </li>
    {% endif %}
  </ul>
</div>
{%endblock%}
